:root {
    --main-color: #08f;
    --second-color: #06f;
    --black: #000;
    --mini-black: #222;
    --white: #fff;
    --beuty-white: #f6f6ff;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


body {
    font-family: "Cairo", sans-serif;
    background-color: var(--beuty-white);
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: var(--white);
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--second-color);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a,
a:hover,
a:focus,
a:visited {
    text-decoration: none;
    outline: none;
    border: none;
}

input:focus,
textarea:focus {
    outline: none;
}

.up {
    position: fixed;
    bottom: 20px;
    right: -40px;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    font-size: 1.4em;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

.up.show {
    right: 20px;

}

.up.show i {
    transition: 0.2s;
}

.up.show:hover i {
    transform: translateY(-3px);
}

.rtl {
    direction: rtl;

}

.header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--mini-black);
    padding: 0px 100px;
    user-select: none;
}

.header .logo {
    font-size: 2em;
    transition: 1s;
    padding: 5px 0 5px 15px;
}

.header .logo .a {
    color: #eee;
    transition: 0.3s;
}

.header .logo .four {
    color: var(--main-color);
    transform: translate(-93%, -17%) rotate(-48deg);
    transition: 0.3s;
}

.header:hover .logo .a {
    color: var(--main-color);
}

.header:hover .logo .four {
    color: var(--white);
}

.header.logo:hover .a {
    color: var(--main-color);
}

.header .logo:hover .four {
    color: var(--white);
}

.header .logo:hover {
    transform: rotate(360deg);
    transform-origin: center center;
}

.header .links {
    display: flex;
    color: var(--white);
    font-size: 1em;
}

.header .links .con {
    padding: 10px 10px 10px 15px;
    border-radius: 3px;
    text-align: right;
    transition: 0.5s;
    position: relative;
    cursor: pointer;
}

.header .links .con.active {
    background-color: #363f4a;
}

.header .links .con i {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    transition: 0.5s;
}

.header .links .con:hover i,
.header .links .con.active i {
    top: 60%;
}

.header .links .con span {
    padding: 5px 10px;
}

.header .links .con ul {
    display: none;
}

.header .links .con.active ul {
    display: block;
    position: absolute;
    top: 125%;
    left: 0;
    background-color: #334f;
    width: 250px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    transition: 0.5s;
    z-index: 100;
}

.header .links .con.active ul li {
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.header .links .con.active ul li a {
    padding: 10px;
    display: block;
    text-decoration: none;
    color: var(--beuty-white);
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.header .links .con.active ul li:hover a {
    background-color: #363f4a;
    padding: 10px 20px;
}

.footer {
    background-color: #111;
    padding: 20px 200px;
    display: flex;
    justify-content: space-between;
}

.footer .created {
    position: relative;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    padding: 10px 0;
    color: var(--beuty-white);
    /* width: fit-content; */
    font-size: 1.2em;
}

.footer .created span:nth-child(2) {
    color: #eee;
}

.footer .created i {
    color: var(--main-color);
}

.footer .created::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 3px;
    background-color: var(--second-color);
    bottom: 0px;
    transition: 0.5s;
    left: -1px;
    transform: translateX(-120%);
}

.footer .created:hover {
    filter: blur(0.5px);
}

.footer .created:hover::before {
    transform: translateX(0%);
}

.footer .contact {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer .contact a {
    color: transparent;
}

.footer .contact i {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    font-weight: 400;
    font-size: 1.5em;
    transition: 0.2s;
    color: #aaa;
    background-color: #363f4a;
}

.footer .contact i:hover {
    color: var(--white);
    background-color: var(--bc-color);
    transform: translateY(-3px) scale(1.1);
    box-shadow: 2px 2px 3px #999;
}